@name:~"bubble";
.@{name}-main{
  position: relative;
  color: #000;
  width: auto;
  display:inline;
  margin-left: 12px;
  padding: 0.65em 1em 0.65em 1.5em;
  z-index: 1;
  overflow: hidden;
  &::before{
    position: absolute;
    z-index: -1;
    right: 0;
    width: calc(100% - 0.5em);
    border-radius: 5px 5px 5px 0px;
    background: #fff;
    height: 100%;
    bottom: 0;
    content: "";
  }
  &::after{
    position: absolute;
    width: 0.5em;
    height: 2em;
    background: #fff;
    overflow: hidden;
    left: 0;
    bottom: 0;
    border-top-left-radius: 100%;
    content: "";
  }
}